body {
  max-width: 1024px;
  margin: 24px auto 48px;
  font-size: 18px;
}

main {
  max-width: 700px;
}

h1 {
  font-family: Georgia;
  font-size: 26px;
}

h2 {
  margin: 36px 0 16px;
  font-family: Georgia;
  font-size: 20px;
}

h3 {
  margin: 16px 0 0;
  font-size: 18px;
}

p {
  margin: 0 0 12px;
  line-height: 1.3;
}

img {
  border: 1px solid #cfcfcf;
}